.logement-page {
      color: #ff6060;
      font-family: "Montserrat", sans-serif;
      font-weight: normal;
}

.image {
      /* width: ; */
      height: 300px;
      object-fit: cover;
      border-radius: 1rem;
}

.logement-page h1 {
      font-size: 5rem;
}

.logement__desc__area {
      /* overflow-y: hidden; */
      display: flex;
      gap: 1rem;
}

/* Mobile */
@media screen and (width <= 768px) {
      .ap
      .logement__desc_area {
            display: flex;
            flex-direction: column;
      }
}





















