.apartment-page {
      color: #ff6060;
      font-family: "Montserrat", sans-serif;
      font-weight: normal;
}

.image {
      /* width: ; */
      height: 300px;
      object-fit: cover;
      border-radius: 1rem;
}

.apartment-page h1 {
      font-size: 5rem;
}
.apartment__desc__area {
      overflow-y: hidden;
}

/* Mobile */
@media screen and (width <= 768px) {
      .apartment__desc_area {
            display: flex;
            flex-direction: column;
      }
}





















