.image__banner_img img {
      margin-bottom: 2rem;
      width: 100%;
      max-height: 245px;
      object-fit: cover;
      object-position: center;
      border-radius: 1rem;
      box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}


/* .banner {
      position: relative;
      background-position: center;
      max-width: 100%;
      min-height: 140px;
      display: grid;
      margin: auto;
      place-items: center;
      color: white;
      border-radius: 1.5rem;
      background-size: cover;
      background-image: url("../../assets/banner.png");
      margin-bottom: 2rem;
} */