.navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 2rem;
      color: var(--red);
      font-weight: 700;
      width: 15%;
      margin-right: 20px;
}

.navbar a {
      text-decoration: none;
      color: #ff6060;
}

.navbar a:hover {
      text-decoration: underline;
}

.navbar a.active {
      text-decoration: underline;
}