.home__gallery {
      background: #F7F7F7;
      min-height: 50vh;
      border-radius: 1.5rem;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 1.6rem;
      padding: 2.5rem;
}

.home__gallery > a {
      width: 32%;
      /* max-width: 20rem; */
      /* flex-direction: column; */
}

@media screen and (width <= 768px) {
      .home__gallery {
            justify-content: center;
            background: none;
            padding: 0;
      }
}
