.error-page {
      color: #ff6060;
      font-family: "Montserrat", sans-serif;
      text-align: center;
}

h1 {
      font-size: 15rem;
      margin-bottom: 0.5rem;
}

h2 {
      font-size: 32px;
      font-weight: 500;
      margin-bottom: 8rem;
}

a {
      text-decoration: none;
      color: #ff6060;
      text-decoration: underline;
}

/* Mobile */
@media screen and (width <= 768px) {
      h1 {

      }
      h2 {
            
      }
}